<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="filtro" placeholder="Introduce los datos del filtro">

  </ion-input>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let user of users | async" size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
      <ion-col *ngIf="filtro=='' || user.first_name.startsWith(filtro)">
        <ion-card>
          
          <ion-card-content *ngIf="user.gender == 'Male'">
            <ion-avatar>
              <img [src]= "user.imagen">
            </ion-avatar>
            
          <h1>{{ user.id }} {{ user.first_name }} {{ user.last_name }}</h1>
          <h2>{{ user.gender }}</h2>
            <p>Hola Mundo</p>
          </ion-card-content>
          <ion-card-content *ngIf="user.gender != 'Male'">
            <ion-avatar>
              <img [src]= "user.imagen">
            </ion-avatar>
            
          <h1>{{ user.id }} {{ user.first_name }}</h1>
          <h2>{{ user.gender }}</h2>
            <p>Hola Mundo</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
